* {
  margin: 0;
}

.input-search {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.search-box {
  padding-left: 40px;
  width: 100%;
  box-sizing: border-box;
}

.input-search i {
  position: absolute;
  right: 30px;
  font-size: 18px;
  color: #aaa;
}

.menu {
  display: none;
}
.navbar ul {
  list-style-type: none;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  flex-wrap: wrap;
}

.search-container {
  position: absolute;
  top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: box shadow */
}

.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.search-box {
  width: 100%;
  padding: 10px;
  margin: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.spinner {
  display: none;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#search-results {
  margin-top: 100px;
}

.pills {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}
